
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout-danger h4 {
  color: #ce4844;
}